@each $theme, $theme-names in $themes {
    @each $color, $value in $theme-names {
        .callout-#{$color} {
            background: var(--#{$prefix}main-secondary);
            border-left: 5px solid var(--#{$prefix}#{$color});
            color: var(--#{$prefix}main-secondary-accessible);
        }

        .alert-#{$color} {
            background: var(--#{$prefix}#{$color});
            color: var(--#{$prefix}#{$color}-accessible);
        }
    }
}