.animate-shake-x {
    &:hover .fas {
        opacity: 1;
        visibility: visible;
        animation-name: shakeX;
        animation-duration: .5s;
        animation-delay: .2s;
        animation-iteration-count: 1;
    }

    .fas {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.2s linear;
    }
}

@keyframes shakeX {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
  
    25%,
    75% {
        transform: translate3d(5px, 0, 0);
    }
  
    50% {
        transform: translate3d(-5px, 0, 0);
    }
}