@each $theme, $theme-names in $themes {
    @each $color, $value in $theme-names {
        .border-top-#{$color} {
            border-top: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}) !important;
        }

        .border-bottom-#{$color} {
            border-bottom: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}) !important;
        }

        .border-start-#{$color} {
            border-left: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}) !important;
        }

        .border-end-#{$color} {
            border-right: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}) !important;
        }

        .border-#{$color} {
            border: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}) !important;
        }

        .border-#{$color}-accessible {
            border: 1px solid;
            border-color: var(--#{$variable-prefix}#{$color}-accessible) !important;
        }
    }
}

.border-top-2-px {
    border-top: 2px solid;
}

.border-bottom-2-px {
    border-bottom: 2px solid;
}

.border-2-px {
    border: 2px solid;
}