.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

    &.icon-md {
        height: 30px;
        width: 30px;
        font-size: .9rem;
    }

    &.icon-sm {
        height: 25px;
        width: 25px;
        font-size: .75rem;
    }

    &.icon-circle {
        border-radius: 100%;
    }
}

@each $color, $value in $socialmedia-colors {
    .icon-#{$color} {
        background-color: $value;
        color: var(--#{$variable-prefix}#{$color}-accessible);
    }
}

// Blip
.icon-blip {
    background: var(--sh-white);
    border: 1px dotted var(--sh-opposite);

    &::after {
        content: '';
        position: absolute;
        top: -1px;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 100%;
        transition: .3s;
      }
    
      &:focus,
      &:hover {
        color: var(--sh-white);
    
        &::after {
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          margin-left: calc(-50% - 1px);
          border: 1px solid var(--sh-opposite);
        }
      }
    
      i,
      svg {
        position: relative;
        z-index: 1;
        transition: .3s;
      }
}

@each $color, $value in $socialmedia-colors {
    .icon-blip-#{$color} {
        color: $value;

        &::after {
            background: $value;
        }
    }
}