a {
    color: var(--#{$prefix}alpha);

    &:focus, &:hover {
        color: customDarken(--#{$prefix}alpha, 10%);
    }
}

.link-underline, .link-underline-container a,
.link-underline-hover, .link-underline-hover-container a {
    position: relative;
    padding-bottom: 2px;

    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

@each $theme, $theme-names in $themes {
    @each $color, $value in $theme-names {
        .link-#{$color},
        .link-underline-#{$color}, .link-underline-#{$color}-container a,
        .link-underline-hover-#{$color}, .link-underline-hover-#{$color}-container a {
            color: var(--#{$prefix}#{$color});

            &:focus, &:hover {
                color: customShift(--#{$prefix}#{$color}, $value, 10%);
            }
        }

        .link-underline-#{$color}, .link-underline-#{$color}-container a {
            border-bottom: 2px dotted var(--#{$prefix}#{$color});
        
            &:after {
                background-color: customShift(--#{$prefix}#{$color}, $value, 10%);
            }
        }

        .link-underline-hover-#{$color}, .link-underline-hover-#{$color}-container a {
            &:after {
                border-bottom: 2px dotted customShift(--#{$prefix}#{$color}, $value, 10%);
            }
        }
    }
}