@each $font, $value in $fonts {
    .font-#{$font} {
        font-family: $value;
    }
}

@each $font-weight in $font-weights {
    .fw-#{$font-weight} {
        font-weight: $font-weight;
    }
}

@each $theme, $theme-names in $themes {
    @each $color, $value in $theme-names {
        .text-#{$color} {
            color: var(--#{$variable-prefix}#{$color}) !important;
        }
    }
}

@each $text-shadow, $value in $text-shadows {
    @each $text-shadow-weight in $value {
        .text-shadow-#{$text-shadow}-#{$text-shadow-weight} {
            text-shadow: customTextShadow(var(--#{$variable-prefix}#{$text-shadow}), $text-shadow-weight)
        }
    }
}