// Pink
$pink-bubblegum:    #ff8ab7; // bubblegum, spunky
$pink-petal:        #ff78cd; // moon
$pink-icecream:     #d8988e; // synth

// Red
$red-cherry:        #ff014a; // bubblegum, spunky
$red-rose:          #ff0125; // moon
$red-sherbert:      #d66d5a; // synth

// Orange
$orange-potato:     #ff5100; // moon
$orange-pumpkin:    #fe6d02; // bubblegum, spunky
$orange-nut:        #e4a593; // synth

// Yellow
$yellow-flower:     #ffc931; // bubblegum, spunky
$yellow-sun:        #ffd800; // moon
$yellow-butter:     #d6b17a; // synth

// Green
$green-frog:        #b8fb91; // bubblegum, spunky
$green-leaf:        #00be44; // moon
$green-sage:        #647555; // synth

// Cyan
$cyan-book:         #5ce0c9; // bubblegum
$cyan-icing:        #4bbaf2; // moon
$cyan-table:        #0ecfe1; // spunky
$cyan-lights:       #a5a48f; // synth

// Blue
$blue-fish:         #378be5; // moon
$blue-sky:          #1482ff; // bubblegum, spunky
$blue-nimbus:       #979ba6; // synth

// Purple
$purple-gem:        #557efe; // bubblegum, spunky
$purple-troll:      #9761ff; // moon
$purple-lilac:      #a3838e; // synth

// White
$white-marshmallow: #ffffff; // moon
$white-newspaper:   #f0e9d7; // bubblegum, spunky
$white-cream:       #e7d2b3; // synth

// Gray
$gray-rock:         #3e3e3e; // moon
$gray-slate:        #717276; // bubblegum
$gray-stone:        #262624; // spunky
$gray-baby:         #a2a3a9; // synth

// Black
$black-jet:         #000000; // bubblegum, spunky, moon
$black-coffee:      #2c231a; // synth

// Social Media Colors
$twitch:            #9147ff;
$youtube:           #FF0000;
$twitter:           #00aced;
$linkedin:          #0073b1;
$github:            #333333;
$facebook:          #1877f2;
$rss:               #fd7e14;
$google:            #4285F4;
$codepen:           #131417;