// Pink
$pink-bootstrap:    #d63384; // default-light, default-dark
$pink-bubblegum:    #ff8ab7; // bubblegum, spunky
$pink-petal:        #ff78cd; // moon
$pink-icecream:     #d8988e; // synth
$pink-radish:      #f22579; // craftastack

// Red
$red-bootstrap:     #dc3545; // default-light, default-dark
$red-cherry:        #ff014a; // bubblegum, spunky
$red-rose:          #ff0125; // moon
$red-sherbert:      #d66d5a; // synth
$red-barn:          #c03232; // cow, rooster
$red-ketchup:       #fa1500; // craftastack

// Orange
$orange-bootstrap:  #fd7e14; // default-light, default-dark
$orange-potato:     #ff5100; // moon
$orange-pumpkin:    #fe6d02; // bubblegum, spunky
$orange-nut:        #e4a593; // synth
$orange-soda:       #c5621b; // cow, rooster
$orange-carrot:     #ff811a; // craftastack

// Yellow
$yellow-bootstrap:  #ffc107; // default-light, default-dark
$yellow-flower:     #ffc931; // bubblegum, spunky
$yellow-sun:        #ffd800; // moon
$yellow-butter:     #d6b17a; // synth
$yellow-squash:     #f4d072; // cow, rooster
$yellow-mustard:    #ffff00; // craftastack
$yellow-yolk:       #fafd85; // craftastack

// Green
$green-bootstrap:   #198754; // default-light, default-dark
$green-frog:        #b8fb91; // bubblegum, spunky
$green-leaf:        #00be44; // moon
$green-sage:        #647555; // synth
$green-vine:        #8fa64a; // rooster
$green-kewi:        #9fc03b; // cow
$green-lettuce:     #8fcb18; // craftastack

// Teal
$teal-bootstrap:   #20c997; // default-light, default-dark

// Cyan
$cyan-bootstrap:    #0dcaf0; // default-light, default-dark
$cyan-book:         #5ce0c9; // bubblegum
$cyan-icing:        #4bbaf2; // moon
$cyan-table:        #0ecfe1; // spunky
$cyan-lights:       #a5a48f; // synth

// Blue
$blue-bootstrap:    #0d6efd; // default-light, default-dark
$blue-fish:         #378be5; // moon
$blue-sky:          #1482ff; // bubblegum, spunky
$blue-nimbus:       #979ba6; // synth
$blue-bell:         #2f5ab2; // cow, rooster
$blue-berry:        #1b66c9; // craftastack

// Purple
$purple-bootstrap:  #6f42c1; // default-light, default-dark
$purple-gem:        #557efe; // bubblegum, spunky
$purple-troll:      #9761ff; // moon
$purple-lilac:      #a3838e; // synth
$purple-eggplant:   #4d479e; // rooster
$purple-potato:     #8990e2; // cow
$purple-onion:      #be0149; // craftastack

// Indigo
$indigo-bootstrap: #6610f2; // default-light, default-dark

// White
$white-bootstrap:   #ffffff; // default-light, default-dark
$white-marshmallow: #ffffff; // moon
$white-newspaper:   #f0e9d7; // bubblegum, spunky
$white-cream:       #e7d2b3; // synth
$white-milk:        #fffceb; // cow, rooster
$white-cotton:      #e5e2d3; // rooster
$white-mayo:        #f9f9f9; // craftastack
$white-sesame:      #f8f9e1; // craftastack

// Gray
$gray-bootstrap:    #adb5bd; // default-light, default-dark
$gray-rock:         #3e3e3e; // moon
$gray-slate:        #717276; // bubblegum
$gray-stone:        #262624; // spunky
$gray-baby:         #a2a3a9; // synth
$gray-spatula:      #4c4543; // craftastack

// Black
$black-bootstrap:   #000000; // default-light, default-dark
$black-jet:         #000000; // bubblegum, spunky, moon
$black-coffee:      #2c231a; // synth
$black-bird:        #1c1b19; // cow, rooster         
$black-olive:       #190701; // craftastack        

// Brown
$brown-bootstrap:   #7f470a; // default-light, default-dark
$brown-owl:         #ccc9bc; // rooster
$brown-bean:        #b2b0a4; // rooster
$brown-dirt:        #353430; // cow
$brown-acorn:       #504b48; // cow
$brown-squirrel:    #69655c; // cow
$brown-bbq:         #4c1504; // craftastack

// Secondary
$light-bootstrap:   #f8f9fa; // default-light, default-dark
$dark-bootstrap:    #6c757d; // default-light, default-dark

// Social Media Colors
$twitch:            #9147ff;
$youtube:           #FF0000;
$twitter:           #00aced;
$linkedin:          #0073b1;
$github:            #333333;
$facebook:          #1877f2;
$rss:               #fd7e14;
$google:            #4285F4;
$codepen:           #131417;