// General
$enable-responsive-font-sizes:  true;
$enable-shadows:                true;
$prefix:                        sh-;

// Dropdowns
$dropdown-bg:                   var(--#{$prefix}main);
$dropdown-link-hover-bg:        var(--#{$prefix}alpha);
$dropdown-link-hover-color:     var(--#{$prefix}alpha-accessible);
$dropdown-link-active-bg:       var(--#{$prefix}alpha);
$dropdown-link-active-color:    var(--#{$prefix}alpha-accessible);

// Margin
$enable-negative-margins:       true;

// Cards
$card-bg:               var(--#{$prefix}main);

// Links
$link-decoration:       none;